#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: TurnArrow(
                grid_position: GridPosition(x: 4, y: 4),
                arrow_direction: ArrowDirectionLeftTurnFromTop,
            ),
        ),
        PrefabEntity(
            data: TurnArrow(
                grid_position: GridPosition(x: 4, y: 12),
                arrow_direction: ArrowDirectionLeftTurnFromRight,
            ),
        ),
        PrefabEntity(
            data: TurnArrow(
                grid_position: GridPosition(x: 12, y: 4),
                arrow_direction: ArrowDirectionLeftTurnFromLeft,
            ),
        ),
        PrefabEntity(
            data: TurnArrow(
                grid_position: GridPosition(x: 12, y: 12),
                arrow_direction: ArrowDirectionLeftTurnFromBottom,
            ),
        ),
    ],
)